:root {
  --header-bg: #2c3e50;
  --main-bg: #1abc9c;
  --footer-top-bg: #3a546d;
  --footer-bottom-bg: #2c3e50;
  --text-color: #ffffff;
}

*, ::after, ::before {
  box-sizing: border-box;
}

/* HEADER */
header {
  background-color: var(--header-bg);
  color: white;
}

/* NAVBAR */
.navbar-brand {
  color: var(--text-color);
}

.navbar-nav .nav-link {
  color: var(--text-color);
}

.navbar-brand:focus, .navbar-brand:hover {
  color: #d3c1af;
}

.navbar-nav a:hover{
  transition: 1s;
  transform: scale(1.1);
}

.navbar-toggler {
 border: 1px solid var(--text-color);
 color: var(--text-color);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* JUMBOTRON */
#jumbotron {
  background-color: var(--main-bg);
  color: var(--text-color)
}

#jumbotron img {
  width: 20%;
}

/* PORTFOLIO */
#portfolio {
  background-color: var(--text-color); 
}

#portfolio img {
  width: 100%;
  border-radius: 8px;
}

/* ABOUT */

#about {
  background-color: var(--main-bg);
  color: var(--text-color);
  margin-top: 50px;
}

.white-star::before, .white-star::after {
  content: "";
  width: 12%;
  height: 3px;
  border-radius: 2px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
}
.black-star::before, .black-star::after {
  content: "";
  width: 12%;
  height: 3px;
  border-radius: 2px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin: 0 20px;
  
}



/* CONTACT ME*/

#contact {
  background-color: var(--text-color);
} 

.btn{
 background-color: var(--main-bg);
 color: var(--text-color);
}

/* FOOTER */
#footer .footer-top {
  background-color: var(--footer-top-bg);
  color: var(--text-color);
}
#footer .footer-top a {
  color: var(--main-bg);
}

#footer .footer-bottom {
  background-color: var(--footer-bottom-bg);
  height: 10vh;
  color: var(--text-color);
}

.footer-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
}

.w-75 {
  width: 75%;
}
